#pane{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, grey, 20, 0.1, 0, 0);
}


#choose{
    -fx-background-color: white;
    -fx-background-radius: 40;
    -fx-text-fill: #4059A9;
    -fx-border-radius: 40;
    -fx-border-color: #4059A9;
    -fx-stroke-width: 10;
    -fx-effect: dropshadow(gaussian, rgba(31, 55, 128, 0.3), 20, 0.6, 0, 0);
    -jfx-button-type: RAISED;
}